Repository vrslev/songbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, eslint, prettier

pyright:
  name: pyright
  language: system
  pass_filenames: false
  entry: poetry run npx pyright --venv-path .venv

tsc:
  name: tsc
  language: system
  pass_filenames: false
  entry: npx vue-tsc --noEmit

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: npx eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix --ignore-path .gitignore

prettier:
  name: prettier
  language: system
  entry: npx prettier --write --list-different --ignore-unknown

Update package-lock
  package-lock.json
Due: none

Update chord-chart
  frontend/main.ts
  package-lock.json
  package.json
  requirements.txt
  tests/frontend/setup.ts
Due: tsc, eslint, prettier

Fix package-lock.json
  package-lock.json
Due: none

Fix Chrome support (#106)
  frontend/main.ts
  package-lock.json
  package.json
  requirements.txt
  tests/frontend/setup.ts
Due: tsc, eslint, prettier

Update pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

Path conditions:
  pyright: any of: \.py$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  tsc: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, \.(html|htm|xhtml)$, \.css$, \.json$, \.(yaml|yml)$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
