Repository vrslev/songbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, eslint, prettier

pyright:
  name: pyright
  language: system
  pass_filenames: false
  entry: poetry run npx pyright --venv-path .venv

tsc:
  name: tsc
  language: system
  pass_filenames: false
  entry: npx vue-tsc --noEmit

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: npx eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix --ignore-path .gitignore

prettier:
  name: prettier
  language: system
  entry: npx prettier --write --list-different --ignore-unknown

Fix updating value in Deta Base
  backend/core/store.py
Due: pyright

Update Python deps
  poetry.lock
Due: none

Update requirements file
  requirements.txt
Due: none

Include source maps in prod build
  vite.config.ts
Due: tsc, eslint, prettier

Include source maps in prod build (#30)
  vite.config.ts
Due: tsc, eslint, prettier

Update pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

Update prettier tailwind formatting
  frontend/components/SelectField.vue
  frontend/components/SongInfo.vue
  frontend/components/SongInfoDeleteConfirmation.vue
  frontend/components/TextField.vue
  frontend/components/TextareaField.vue
  frontend/components/UserListItem.vue
  frontend/views/Home.vue
Due: tsc, eslint, prettier

Update Python deps
  poetry.lock
  requirements.txt
Due: none

Switch to hatch
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements.txt
Due: prettier

fix ci
  .github/workflows/test.yml
Due: prettier

Revert "fix ci"
  .github/workflows/test.yml
Due: prettier

u
  .github/workflows/test.yml
Due: prettier

u
  pyproject.toml
  requirements-dev.txt
Due: none

u
  .pre-commit-config.yaml
Due: prettier

u
  poetry.lock
  poetry.toml
Due: none

u
  README.md
Due: none

Switch from poetry to hatch (#75)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: prettier

Use chord-chart
  backend/core/note_sequence.py
  backend/core/song.py
  tests/backend/core/test_note_sequence.py
  tests/backend/core/test_song.py
Due: pyright

Add py requirement
  backend/core/song.py
  requirements.txt
Due: pyright

Use chord-chart in frontend
  frontend/components/SongInfo.vue
  frontend/core/noteSequence.ts
  frontend/core/utils.ts
  frontend/core/validation.ts
  tests/frontend/components/SongForm_renders.test.ts
  tests/frontend/components/SongInfo.test.ts
  tests/frontend/core/noteSequence.test.ts
  tests/frontend/core/utils.test.ts
  tests/frontend/core/validation.test.ts
Due: tsc, eslint, prettier

Use published js package
  frontend/core/utils.ts
  frontend/core/validation.ts
  package-lock.json
  package.json
Due: tsc, eslint, prettier

Update generated client
  frontend/client/models/SongChords.ts
Due: tsc, eslint, prettier

Fix typing issues
  pyproject.toml
  tests/backend/app/controllers/test_auth.py
Due: pyright

Update autoimports
  .eslintrc-auto-import.json
  frontend/auto-imports.d.ts
Due: none

Fix chord-chart in frontend
  frontend/core/utils.ts
  frontend/core/validation.ts
  package-lock.json
  package.json
Due: tsc, eslint, prettier

Update chord-chart versions
  package-lock.json
  package.json
  requirements.txt
Due: prettier

Remove unnecessary async validation in tests
  frontend/core/validation.ts
  tests/frontend/core/validation.test.ts
Due: tsc, eslint, prettier

Update chord-chart, translate errors
  frontend/core/validation.ts
  package-lock.json
  package.json
  requirements.txt
Due: tsc, eslint, prettier

Use `chord-chart` (#89)
  .eslintrc-auto-import.json
  backend/core/note_sequence.py
  backend/core/song.py
  frontend/auto-imports.d.ts
  frontend/client/models/SongChords.ts
  frontend/components/SongInfo.vue
  frontend/core/noteSequence.ts
  frontend/core/utils.ts
  frontend/core/validation.ts
  package-lock.json
  package.json
  requirements.txt
  tests/backend/core/test_note_sequence.py
  tests/backend/core/test_song.py
  tests/frontend/components/SongForm_renders.test.ts
  tests/frontend/components/SongInfo.test.ts
  tests/frontend/core/noteSequence.test.ts
  tests/frontend/core/utils.test.ts
  tests/frontend/core/validation.test.ts
Due: pyright, tsc, eslint, prettier

Update development workflow
  .editorconfig
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  package.json
  pyproject.toml
  requirements-dev.txt
Due: prettier

Update readme
  README.md
Due: none

Update development workflow (#105)
  .editorconfig
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  README.md
  package.json
  pyproject.toml
  requirements-dev.txt
Due: prettier

Path conditions:
  pyright: any of: \.py$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  tsc: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$, \.(html|htm|xhtml)$, \.css$, \.json$, \.(yaml|yml)$, but not: package-lock.json|.eslintrc-auto-import.json|frontend/components.d.ts|frontend/auto-imports.d.ts
